






/* distintas fotos */

div.gallery {
  border: 5px;
  background-color: white;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 20px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}




/* color del fondo*/






.contenedor { 
	max-width: 1000px;
	width: 90%;
	margin: 0 auto;
}

.contenedor__cards {
	margin: 70px 0;
}

.card {
	background: #FFF;
	border-radius: 15px;
	padding: 20px;
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 50px;
}

.card__thumbnail {
	margin-right: 20px;
	border-radius: 10px;
	overflow: hidden;
	display: inline-block;
}

.card__img {
	width: 100%;
}

.card__titulo {
	font-size: 30px;
	font-weight: normal;
	margin-bottom: 20px;
}

.card__enlace {
	color: #000;
}

.card__extracto {
	line-height: 28px;
	color: #6D6D6D;
	margin-bottom: 20px;
}

.boton {
	border: none;
	min-width: 180px;
	height: 50px;
	padding: 0 30px;
	background: #000;
	color: #fff;
	display: inline-block;
	border-radius: 100px;
	text-decoration: none;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	background: #403CC2;
	transition: .3s ease all;
}

.boton__texto {
	font-weight: 600;
}

.boton:hover {
	background: #1B1881;
	text-decoration: none;
}

.boton--absolute {
	position: absolute;
	right: 20px;
	bottom: -25px;
}

.boton--verde {
	background: #7BA771;
}

.boton--verde:hover {
	background: #437837;
}

.frase {
	text-align: center;
	margin: 70px 0;
}

.frase__texto {
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: 600;
	font-style: italic;
}

.ListaComoComprar {padding: 40px; color: #7f758d; font-size: 18px; text-align: left; list-style-position:initial;}

.formulario {padding: 30px; color:#7f758d; font-size: 18px;}

.form-shop {margin-left: 10px;}

.listado-shop {margin-left: 10px;}

.footer {margin: 100px;}

/*gradiente COMO COMPRAR*/

#grad {
 background-image: linear-gradient(violet, #d8afe2);
}

/*Animación*/

h1 {animation-duration: 2s;
   animation-name: aparecer;
   animation-iteration-count: infinite;
}


@keyframes aparecer {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
}


/*imágenes de shop*/

body {
  margin: 5px;
}

.wrapper {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: [col] 200px [col] 50px [col] 100px [col] 300px  ;
    grid-template-rows: [row] auto [row] auto [row] ;
    background-color: #a8a8a8;
    justify-content: center;
  }

  .box {
    background-color: #a8a8a8;
    color: #fff;
    padding: 20px;
    
  }

  .a {
    grid-column: col / span 2;
    grid-row: row ;
  }
  .b {
    grid-column: col 3 / span 2 ;
    grid-row: row ;
  }
  .c {
    grid-column: col ;
    grid-row: row 2 ;
  }
  .d {
    grid-column: col 2 / span 3 ;
    grid-row: row 2 ;
  }

  .e {
    grid-column: col / span 4;
    grid-row: row 3;
  }


  /*carousel*/

  .carousel-slide {margin: auto; width: 80%;}

   /*boton wapp api*/
 
  .float {
    position: fixed;
    width: 60px;
    height: 57px;
    bottom: 72px;
    right: 10px;
    color: #FFFF;
    background-color: #01B32B;
    border-radius: 50px;
    text-align: center;
    font-size: 34px;
    box-shadow: 2px 2px 3px #999;
    z-index: 6;
}



