
h1{color: violet; margin: 10px; text-transform: uppercase;}

h2{color: violet;text-transform: uppercase;
     } 

h3{color:#ebcbc3; text-transform: uppercase;}





/*menu main-nav*/

.header {
 background-color: white;
 height: 30px;

}

.main-nav{
  display:flex;
  background-color: white;
   
}


/*logo main-nav*/


.logo p a {
  color: #a8a8a8;
  font-size: 30px; 
  text-decoration: none;
  display: flex;  
  flex-direction: row; 
  justify-content: start;
  margin: 15px;
  }




/*menu shop tabla medidas como comprar etc*/

.main-nav ul { 
  list-style-type: none;
  display: flex;  
  flex-direction: row; 
  justify-content: center;
  
 
    }

.main-nav ul li a {
      color: #a8a8a8; 
      font-size: 13px; 
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
      letter-spacing: 1px;
      }
  
  
  .main-nav ul li a:hover {
       color: #ebcbc3; 
      text-decoration: none;}


 
/*menú desplegable*/

li a, .dropbtn {
    display: inline-block;
    color: #a8a8a8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    color: #ebcbc3; 
    text-decoration: none;
    background-color: #fff;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color:#a8a8a8;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/*buscar menu*/

.main-nav-form {
  display: flex;
  justify-content: flex-end;
  flex: 10;
  padding: 26px 16px;
}
.main-nav input {
  flex: 10;
}
.main-nav button {
  background: white;
  border: 0;
  border-radius: 1em;
  color:#a8a8a8;
  padding: 0 1em;
  margin-left: .3em;
}



/* distintas fotos */

div.gallery {
  border: 5px;
  background-color: white;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 20px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}




/* color del fondo*/

body {
	background: #F6F6FE;
	font-family: 'Quicksand', sans-serif;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.contenedor { 
	max-width: 1000px;
	width: 90%;
	margin: 0 auto;
}

.contenedor__cards {
	margin: 70px 0;
}

.card {
	background: #FFF;
	border-radius: 15px;
	padding: 20px;
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 50px;
}

.card__thumbnail {
	margin-right: 20px;
	border-radius: 10px;
	overflow: hidden;
	display: inline-block;
}

.card__img {
	width: 100%;
}

.card__titulo {
	font-size: 30px;
	font-weight: normal;
	margin-bottom: 20px;
}

.card__enlace {
	color: #000;
}

.card__extracto {
	line-height: 28px;
	color: #6D6D6D;
	margin-bottom: 20px;
}

.boton {
	border: none;
	min-width: 180px;
	height: 50px;
	padding: 0 30px;
	background: #000;
	color: #fff;
	display: inline-block;
	border-radius: 100px;
	text-decoration: none;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	background: #403CC2;
	transition: .3s ease all;
}

.boton__texto {
	font-weight: 600;
}

.boton:hover {
	background: #1B1881;
	text-decoration: none;
}

.boton--absolute {
	position: absolute;
	right: 20px;
	bottom: -25px;
}

.boton--verde {
	background: #7BA771;
}

.boton--verde:hover {
	background: #437837;
}

.frase {
	text-align: center;
	margin: 70px 0;
}

.frase__texto {
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: 600;
	font-style: italic;
}

.ListaComoComprar {padding: 40px; color: #a8a8a8; font-size: 20px; text-align: left; list-style-position:initial;}

.formulario {padding: 40px; color: #a8a8a8; font-size: 20px;}

.form-shop {margin-left: 10px;}

.listado-shop {margin-left: 10px;}

.footer {margin: 100px;}

/*gradiente COMO COMPRAR*/

#grad {
 background-image: linear-gradient(purple, grey);
}

/*Animación*/

h1 {animation-duration: 2s;
   animation-name: aparecer;
   animation-iteration-count: infinite;
}


@keyframes aparecer {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
}


/*imágenes de shop*/

body {
  margin: 5px;
}

.wrapper {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: [col] 200px [col] 50px [col] 100px [col] 300px  ;
    grid-template-rows: [row] auto [row] auto [row] ;
    background-color: #a8a8a8;
    justify-content: center;
  }

  .box {
    background-color: #a8a8a8;
    color: #fff;
    padding: 20px;
    
  }

  .a {
    grid-column: col / span 2;
    grid-row: row ;
  }
  .b {
    grid-column: col 3 / span 2 ;
    grid-row: row ;
  }
  .c {
    grid-column: col ;
    grid-row: row 2 ;
  }
  .d {
    grid-column: col 2 / span 3 ;
    grid-row: row 2 ;
  }

  .e {
    grid-column: col / span 4;
    grid-row: row 3;
  }
 
 






