
$colorbg: white;
$width: 200px;
$w2: $width +20px;

body{
    background-color: $colorbg;
}

h1{
    color: $colorbg;
    background-color: grey;
    padding: 15px;
    width: $width;
}

p{
    width: $w2;
}